nav {
    flex-wrap: wrap;
    align-items: center;
    background: #3f51b5;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.white-icon {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu {
    .item {
      width: 100%;
      cursor: pointer;
      outline: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      .item-body {
        padding: 5px 20px;
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        color: white;
        .icon {
          margin-right: 20px;
        }
      }
    }
}

::ng-deep ng-sidenav-container {
    top: 62px !important;
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
