<nav>
  <ul>
    <li><a href="/home" class="active"><h4>FindYourBiblio</h4></a></li>
    <li (click)="toggleSidenavHeader()"><mat-icon class="white-icon">menu</mat-icon></li>
    <li><a href="/home" class="active">Home</a></li>
    <li><a href="/apropos">A Propos</a></li>
  </ul>
</nav>

<ng-sidenav-container>
  <ng-sidenav
    [expanded]="isExpanded"
    [drawerState]="state"
    [drawerWidth]="'250px'"
    [drawerWidthCollapsed]="'80px'"
    [color]="'#202c2b'">
    <div class="menu">
      <div class="item" *ngFor="let item of menuItems" routerLink="{{item.url}}">
        <div class="item-body">
          <div class="icon">
            <em class="material-icons">{{item.icon}}</em>
          </div>
          <div class="text" *hiddenOnCollapsed="isExpanded">{{item.title}}</div>
        </div>
      </div>
    </div>
  </ng-sidenav>
  <ng-sidenav-content>
    <router-outlet></router-outlet>
  </ng-sidenav-content>
</ng-sidenav-container>
