<div class="container-fluid">
    <br><br>
    <div class="row">
      <h1>Bienvenue ! </h1>
    </div> <br>
    <p>
        Saisissez dans la barre de recherche le nom de la bibliothèque source que vous souhaitez faire migrer, afin d'obtenir une liste de bibliothèques cibles potentielles.
    </p>
    <br><br>

    <div class="col-md-8">
        <div><br></div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Saisissez le nom de la bibliotheque source" [(ngModel)]="source"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchLibrary()">
                Rechercher
                </button>
            </div>
        </div>
        <div class="input-group-append">
       
        </div>
        <br>
    </div><br>

    <h4 *ngIf="showResults"> La/Les bibliothèque(s) cible(s) pour {{source}}  </h4>
    <div class="row" *ngIf="showResults">       
        <li *ngFor="let cible of libraryCibles">{{cible.name}} ( {{ cible.poids}} )</li>        
    </div><br>
</div>